In [8]:
import pandas as pd
import numpy as np

In [9]:
HofP=pd.read_json('C:/Users/melan/Desktop/DATA ANALYTICS CLASS/PANDAS/HeroesOfPymoli_Example/purchase_data.json')
HofP.head(10)

ValueError: Expected object or value

In [ ]:
<style> .dataframe thead tr:only-child th { text-align: right; }

In [ ]:
.dataframe thead th {
    text-align: left;
}

.dataframe tbody tr th {
    vertical-align: top;
}

In [ ]:
<style>

In [ ]:
pd.DataFrame(data={'Total Players': [HofP['SN'].nunique()]})

In [ ]:
<style> .dataframe thead tr:only-child th { text-align: right; }

In [ ]:
.dataframe thead th {
    text-align: left;
}

.dataframe tbody tr th {
    vertical-align: top;
}

In [ ]:
</style>

In [ ]:
keys =['Number of Unique Items','Average Price','Number of Purchases','Total Revenue']
unique_items= HofP['Item ID'].nunique()                  
ave_price = HofP['Price'].mean()
total_purchase = HofP['Item ID'].count()
total_revenue = HofP['Price'].sum()
purchase_ana = {'Number of Unique Items': [unique_items],'Average Price': [ave_price],
                'Number of Purchases': [total_purchase],'Total Revenue': [total_revenue]}
purchase_ana_df = pd.DataFrame(data=purchase_ana, columns=keys)
purchase_ana_df['Average Price'] = purchase_ana_df['Average Price'].map('${:,.2f}'.format)
purchase_ana_df['Total Revenue'] = purchase_ana_df['Total Revenue'].map('${:,.2f}'.format)
purchase_ana_df

In [ ]:
<style> .dataframe thead tr:only-child th { text-align: right; }

In [ ]:
.dataframe thead th {
    text-align: left;
}

In [ ]:
.dataframe tbody tr th {
    vertical-align: top;
}

In [ ]:
</style>

In [ ]:
cols=['Percentage of Players',' Total Count ']
genders=[HofP['Gender'].unique()]
gender_grp_counts=pd.DataFrame(HofP.groupby(HofP['Gender'])['SN'].nunique(), 
                               index=genders)
per_plyr=pd.DataFrame(gender_grp_counts['SN']/gender_grp_counts['SN'].sum()*100)
res=per_plyr.set_index(genders).join(gender_grp_counts.set_index(genders),
                                                     lsuffix='0', rsuffix='1')
res['SN0'] = res['SN0'].map('{:,.2f}'.format)
res.rename(columns={'SN0':cols[0],'SN1':cols[1]})

In [ ]:
<style> .dataframe thead tr:only-child th { text-align: right; }

In [ ]:
.dataframe thead th {
    text-align: left;
}

In [ ]:
.dataframe tbody tr th {
    vertical-align: top;
}

In [ ]:
</style>

In [ ]:
HofP['Total Purchase Value']=HofP['Price']
HofP['Normalized Totals']=pd.DataFrame(HofP.groupby(['Gender'])['Price']
                                       .apply(lambda x: (x) / x.count()))
pur_ana=pd.DataFrame(HofP.groupby(['Gender']).agg({'Item ID': 'count',
                                                    'Price': 'mean',
                                                   'Normalized Totals':'sum',
                                                     })).rename(columns={'Item ID':'Purchase Count',
                                                                         'Price':'Average Price'})
pur_ana['Total Purchase Value']= pur_ana['Purchase Count']*pur_ana['Average Price']
pur_ana['Total Purchase Value']= pur_ana['Total Purchase Value'].map('${:,.2f}'.format)
pur_ana['Normalized Totals']= pur_ana['Normalized Totals'].map('${:,.2f}'.format)
pur_ana['Average Price']= pur_ana['Average Price'].map('${:,.2f}'.format)
pur_ana

In [ ]:
<style> .dataframe thead tr:only-child th { text-align: right; }

In [ ]:
.dataframe thead th {
    text-align: left;
}

In [ ]:
.dataframe tbody tr th {
    vertical-align: top;
}

In [ ]:
</style>

In [ ]:
HofP1=HofP
HofP1['Percent Count']=HofP['SN']
HofP1['Total Count']=HofP['SN']

def Pyr_count(SN):
    return (len(SN.unique()))
def Perc_Pyr(SN):
    return (len(SN.unique())/HofP['SN'].nunique()*100)

rlabel=[[ "{0}-{1}".format(i+1, i + 4) for i in range(HofP['Age'].min()-1,
                                                       HofP['Age'].max()+4, 4) ]]
rlabel[0][0]='<'+ rlabel[0][0][-2:]
rlabel[0][len(rlabel[0])-1]=rlabel[0][len(rlabel[0])-1][:2]+'+'

a=HofP1.groupby(pd.cut(HofP1['Age'] , 
                    bins=np.arange(HofP1['Age'].min()-1,
                                   HofP1['Age'].max()+8,4),
                      right=True)).agg({'Percent Count':Perc_Pyr,
                                       'Total Count':Pyr_count}
                                      )

In [ ]:
a.index=rlabel
a.fillna(0, inplace=True)
a['Total Count']=a['Total Count'].astype(int)
a['Percent Count']=a['Percent Count'].map('{:,.2f}'.format)
a

In [ ]:
<style> .dataframe thead tr:only-child th { text-align: right; }

In [ ]:
.dataframe thead th {
    text-align: left;
}

In [ ]:
.dataframe tbody tr th {
    vertical-align: top;
}

In [ ]:
</style>

In [ ]:
def norm(price):
    price_list=list(price)
    norm=map(lambda x: (x-np.min(price_list)) / (np.max(price_list)-np.min(price_list)),price)
    norm=(sum(list(norm)))
    return norm
def total_pur_val(price):
    return np.mean(price)*len(price)

HofP1['Normalized Totals']=HofP1['Price']
a=HofP1.groupby(pd.cut(HofP1['Age'] , 
                    bins=np.arange(HofP1['Age'].min()-1,
                                   HofP1['Age'].max()+8,4),
                      right=True)).agg({'Item ID':'count',
                                       'Price':'mean',
                                        'Total Purchase Value': total_pur_val,
                                       'Normalized Totals':norm}
                                      ).rename(columns={'Item ID':'Purchase Count',
                                                       'Price':'Average Purchase Price'})

a['Average Purchase Price']=a['Average Purchase Price'].map('${:,.2f}'.format)
a['Total Purchase Value']=a['Total Purchase Value'].map('${:,.2f}'.format)
a['Normalized Totals']=a['Normalized Totals'].map('${:,.2f}'.format)
a.index=rlabel
a.sort_index(0)

In [ ]:
<style> .dataframe thead tr:only-child th { text-align: right; }

In [ ]:
.dataframe thead th {
    text-align: left;
}

In [ ]:
.dataframe tbody tr th {
    vertical-align: top;
}

In [ ]:
</style>

In [ ]:
HofP1['Normalized Totals']=HofP1['Price']
Tp_Spendr=pd.DataFrame(HofP1.groupby(['SN']).agg({'Item ID': 'count',
                                                    'Price': 'mean',
                                                   'Total Purchase Value':total_pur_val,
                                                     })).rename(columns={'Item ID':'Purchase Count',
                                                                         'Price':'Average Purchase Price'})
Tp_Spendr['Average Purchase Price']=Tp_Spendr['Average Purchase Price'].map('${:,.2f}'.format)
Tp_Spendr['Total Purchase Value']=Tp_Spendr['Total Purchase Value'].map('${:,.2f}'.format)
Tp_Spendr=Tp_Spendr.sort_values(by=['Purchase Count'], ascending=False)
Tp_Spendr.head(5)

In [ ]:
<style> .dataframe thead tr:only-child th { text-align: right; } 
.dataframe thead th {
    text-align: left;
}

In [ ]:
.dataframe tbody tr th {
    vertical-align: top;
}

In [ ]:
</style>

In [ ]:
Tp_items=pd.DataFrame(HofP1.groupby(['Item ID', 'Item Name']).agg({'Item ID': 'count',
                                                    'Price': 'mean',
                                                   'Total Purchase Value':total_pur_val,
                                                     })).rename(columns={'Item ID':'Purchase Count',
                                                                         'Price':'Item Price'})
Tp_items['Item Price']=Tp_items['Item Price'].map('${:,.2f}'.format)
Tp_items['Total Purchase Value']=Tp_items['Total Purchase Value'].map('${:,.2f}'.format)
Tp_items=Tp_items.sort_values(by=['Purchase Count'], ascending=False)
Tp_items.head(5)

In [ ]:
<style> .dataframe thead tr:only-child th { text-align: right; }

In [ ]:
.dataframe thead th {
    text-align: left;
}

In [ ]:
.dataframe tbody tr th {
    vertical-align: top;
}

In [ ]:
</style>

In [ ]:
Tp_items=Tp_items.sort_values(by=['Total Purchase Value'], ascending=False)
Tp_items.head(5)

In [ ]:
<style> .dataframe thead tr:only-child th { text-align: right; }

In [ ]:
.dataframe thead th {
    text-align: left;
}

In [ ]:
.dataframe tbody tr th {
    vertical-align: top;
}

In [ ]:
</style>